In [1]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Fixes the issue with the MySQLdb module not being found.
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Input MySQL username and password for grant restricted user.
username = 'diet_user'
password = 'diet_user'

# Manually entered for privacy purposes.
aws_identifier = input('Enter AWS server identifier: ')

# Create the MySQL URL.
mysql_url = create_engine(f'mysql://{username}:{password}@aws-diet-exercise-db.{aws_identifier}.us-east-2.rds.amazonaws.com:3306/diet')

# Call MySQL stored procedure to get the current food entries.
foods_df = pd.read_sql('''CALL GetFoodsByMealAndDateFromFoods();''',mysql_url, index_col='id')

foods_df.head(10)

,date,meal,food_name,servings,carbs,fats,proteins,calories
id,,,,,,,,
388,2023-08-08,Dinner,Chewy Bar,2,18,3,1,100
387,2023-08-08,Dinner,Protein Powder,2,3,2,24,120
386,2023-08-08,Dinner,Potato Salad,2,25,13,5,230
385,2023-08-08,Lunch,Fruit Snacks,2,17,0,1,70
384,2023-08-08,Lunch,Protein Powder,2,3,2,24,120
383,2023-08-08,Lunch,Gatorade Powder,2,22,0,0,80
382,2023-08-08,Lunch,Pop Tart,1,74,9,3,390
381,2023-08-08,Breakfast,Rice Krispie,2,17,2,0,90
380,2023-08-08,Breakfast,Protein Powder,2,3,2,24,120
379,2023-08-08,Breakfast,Oatmeal,4,32,3,9,160

In [3]:
# Add a total calories column
foods_df['total_cals'] = foods_df['servings'] * foods_df['calories'].astype(int)
foods_df['total_carbs'] = foods_df['servings'] * foods_df['carbs'].astype(int)
foods_df['total_fats'] = foods_df['servings'] * foods_df['fats'].astype(int)
foods_df['total_proteins'] = foods_df['servings'] * foods_df['proteins'].astype(int)
foods_df.head()

,date,meal,food_name,servings,carbs,fats,proteins,calories,total_cals,total_carbs,total_fats,total_proteins
id,,,,,,,,,,,,
388,2023-08-08,Dinner,Chewy Bar,2,18,3,1,100,200,36,6,2
387,2023-08-08,Dinner,Protein Powder,2,3,2,24,120,240,6,4,48
386,2023-08-08,Dinner,Potato Salad,2,25,13,5,230,460,50,26,10
385,2023-08-08,Lunch,Fruit Snacks,2,17,0,1,70,140,34,0,2
384,2023-08-08,Lunch,Protein Powder,2,3,2,24,120,240,6,4,48

In [4]:
macros_bydate = foods_df.groupby(
    foods_df['date'], sort=False).aggregate({'total_cals': 'sum', 'total_carbs': 'sum',
                                             'total_fats': 'sum', 'total_proteins': 'sum'}).reset_index()
macros_bydate.head()

         date  total_cals  total_carbs  total_fats  total_proteins
0  2023-08-08        2890          418          69             197
1  2023-08-07        2680          240         131             130
2  2023-08-06        4600          524         183             237
3  2023-08-05        3100          162         187             176
4  2023-08-03        2898          213         132             207

In [5]:
bm_df = pd.read_sql('''CALL GetBodyMeasurementsByDate()''', mysql_url, index_col='id')
bm_df.head()

          date body_weight body_fat muscle_mass fat_mass workout_type
id
30  2023-08-08       200.0     24.7        82.5     49.4       "CHST"
29  2023-08-07       199.8     24.5        82.7     48.9       "REST"
28  2023-08-06       196.0     26.9        77.7     52.8       "LEGS"
27  2023-08-05       198.2     24.6        81.7     48.8       "REST"
26  2023-08-03       198.2     25.2        81.0     49.9       "REST"

In [6]:
bm_df['body_weight'] = bm_df['body_weight'].astype(float)
bm_df['body_fat'] = bm_df['body_fat'].astype(float)
bm_df['muscle_mass'] = bm_df['muscle_mass'].astype(float)
bm_df['fat_mass'] = bm_df['fat_mass'].astype(float)
bm_df.head()

          date  body_weight  body_fat  muscle_mass  fat_mass workout_type
id
30  2023-08-08        200.0      24.7         82.5      49.4       "CHST"
29  2023-08-07        199.8      24.5         82.7      48.9       "REST"
28  2023-08-06        196.0      26.9         77.7      52.8       "LEGS"
27  2023-08-05        198.2      24.6         81.7      48.8       "REST"
26  2023-08-03        198.2      25.2         81.0      49.9       "REST"

In [7]:
combined_df = pd.merge(macros_bydate, bm_df, on='date', how='inner')
combined_df.head(10)

,date,total_cals,total_carbs,total_fats,total_proteins,body_weight,body_fat,muscle_mass,fat_mass,workout_type
0,2023-08-08,2890,418,69,197,200.0,24.7,82.5,49.4,"""CHST"""
1,2023-08-07,2680,240,131,130,199.8,24.5,82.7,48.9,"""REST"""
2,2023-08-06,4600,524,183,237,196.0,26.9,77.7,52.8,"""LEGS"""
3,2023-08-05,3100,162,187,176,198.2,24.6,81.7,48.8,"""REST"""
4,2023-08-03,2898,213,132,207,198.2,25.2,81.0,49.9,"""REST"""
5,2023-07-30,1000,54,35,122,197.6,25.9,79.8,51.1,"""REST"""
6,2023-07-22,2680,276,85,204,196.4,25.0,80.4,49.1,"""REST"""
7,2023-07-20,2848,236,113,223,195.8,24.8,80.4,48.6,"""REST"""
8,2023-07-19,3400,462,73,251,193.2,23.8,80.6,46.0,"""SHDR"""
9,2023-07-16,2730,250,102,220,194.4,26.8,77.2,52.0,"""REST"""

In [8]:
combined_df['mmass_diff'] = combined_df.muscle_mass.diff(periods=1)
combined_df['fmass_diff'] = combined_df.fat_mass.diff(periods=1)
combined_df['bf_diff'] = combined_df.body_fat.diff(periods=1)
combined_df['bw_diff'] = combined_df.body_weight.diff(periods=1)
combined_df = combined_df.dropna(axis=0, how='any')
combined_df.drop(['body_weight', 'body_fat', 'muscle_mass', 'fat_mass', 'workout_type'], axis=1, inplace=True)
combined_df

,date,total_cals,total_carbs,total_fats,total_proteins,mmass_diff,fmass_diff,bf_diff,bw_diff
1,2023-08-07,2680,240,131,130,0.2,-0.5,-0.2,-0.2
2,2023-08-06,4600,524,183,237,-5.0,3.9,2.4,-3.8
3,2023-08-05,3100,162,187,176,4.0,-4.0,-2.3,2.2
4,2023-08-03,2898,213,132,207,-0.7,1.1,0.6,0.0
5,2023-07-30,1000,54,35,122,-1.2,1.2,0.7,-0.6
6,2023-07-22,2680,276,85,204,0.6,-2.0,-0.9,-1.2
7,2023-07-20,2848,236,113,223,0.0,-0.5,-0.2,-0.6
8,2023-07-19,3400,462,73,251,0.2,-2.6,-1.0,-2.6
9,2023-07-16,2730,250,102,220,-3.4,6.0,3.0,1.2
10,2023-07-14,2910,237,124,209,1.9,-2.0,-1.2,0.8
11,2023-07-13,4008,499,117,256,1.6,-2.1,-1.1,0.4
12,2023-07-12,2740,202,122,203,-2.2,3.0,1.6,-0.4
13,2023-07-11,3300,333,139,199,-0.9,1.6,0.8,0.4
14,2023-07-10,2570,184,118,196,0.4,-1.4,-0.6,-1.0
15,2023-07-09,3490,413,138,182,1.6,-4.2,-2.0,-2.0
16,2023-07-08,2780,260,115,190,0.0,3.3,1.3,3.6
17,2023-07-07,3218,424,86,213,-1.2,-1.1,-0.2,-3.2
18,2023-07-05,3662,475,110,226,0.6,-1.9,-0.8,-1.0
19,2023-07-04,3200,369,114,205,1.1,-1.3,-0.7,0.0
20,2023-07-03,2653,331,55,221,0.7,0.9,0.2,2.0
21,2023-07-02,3352,357,124,195,-0.2,0.6,0.2,0.0
22,2023-07-01,2460,223,106,166,0.0,0.0,0.0,0.0
23,2023-06-29,2439,289,70,163,-1.1,4.1,1.8,3.0
24,2023-06-28,3172,374,94,234,-2.0,-1.0,0.1,-4.0
25,2023-06-27,2442,270,72,185,1.2,-1.1,-0.7,1.0
26,2023-06-26,3703,398,155,204,-0.9,0.5,0.4,-1.0
27,2023-06-23,3536,259,158,280,2.5,-0.6,-0.8,3.0
28,2023-06-21,1852,235,51,118,0.7,-1.2,-0.6,0.0
29,2023-06-20,2892,319,97,194,-4.9,6.9,3.6,-1.0

In [11]:
combined_corr = combined_df[['total_cals', 'total_proteins',
                             'mmass_diff', 'bw_diff']].corr()
print(combined_corr)

                total_cals  total_proteins  mmass_diff   bw_diff
total_cals        1.000000        0.720072   -0.056751 -0.292703
total_proteins    0.720072        1.000000   -0.021765 -0.138261
mmass_diff       -0.056751       -0.021765    1.000000  0.428914
bw_diff          -0.292703       -0.138261    0.428914  1.000000